@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Online Watch Store</h1>

        <br>
    <p> This websites serves the vast variety of watches in only one stop</p>
</div>
